<footer class="footer">
    <h5 class="footerh5">Find Us On</h5>
    <div class="footer-social">
      <i class="fab fa-facebook footer-social-icon"></i>
      <i class="fab fa-instagram footer-social-icon"></i>
      <i class="fab fa-snapchat footer-social-icon"></i>
      <i class="fab fa-pinterest-p footer-social-icon"></i>
      <i class="fab fa-twitter footer-social-icon"></i>
      <i class="fab fa-linkedin footer-social-icon"></i>
    </div>
    <p>© Copyright 2022-{{currentYear}} <a href="https://vishalkhandelwal.github.io/" target="_blank" class="footer-link">WWW.VK.COM</a>. All rights reserved. Developed by VK.</p>
  </footer>