.footer{
    position: relative;
    color: #fff!important;
    background-color: #333!important;
    padding-top: 32px!important;
    padding-bottom: 32px!important;
    margin-top: 16px!important;
    text-align: center!important;    
}

.footerh5{
    font-size: 18px;   
    font-weight: 400;
    margin: 10px 0; 
}

.footer-social{
    padding-top: 16px!important;
    padding-bottom: 16px!important;
    font-size: 24px!important;   
}

.footer-social-icon{
    margin-right: 0.3125rem;
}
.footer-social-icon:hover{opacity:0.60}

.footer-link {background-color: transparent;
    color: inherit;
}

.footer-link:hover{color:#4CAF50!important}
