<!-- Top Navbar Example -->
<div class="topnav" [ngClass]="{'responsive':topNavResponsive}">
    <a class="active" href="#home">Home</a>
    <a href="#news">News</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
    <a href="javascript:void(0);" class="icon" (click)="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
  </div>

<!-- Carousel part start -->
<br><br>
<h1>Awesome Carousel</h1>
<app-carousel [images]="images"></app-carousel>

<br><br>
<h1>Auto Slide</h1>
<app-carousel [images]="images" [autoSlide]="true"></app-carousel>

<br><br>
<h1>Auto slide with custom interval</h1>
<app-carousel [images]="images" [autoSlide]="true" [slideInterval]="1000"></app-carousel>

<br><br>
<h1>Hide dot indicators</h1>
<app-carousel [images]="images" [indicators]="false"></app-carousel>

<br><br>
<h1>Hide button controls</h1>
<app-carousel [images]="images" [controls]="false"></app-carousel>
<!-- Carousel part end -->